@import "tailwindcss";
/* config for tailwindcss-typography plugin */
@config "../../tailwind.config.ts";

/* use a selector-based strategy for dark mode */
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-global-bg: oklch(1 0 0);
  --color-global-text: oklch(20.8% 0.042 265.755);
  --color-link: oklch(0.5385 0.220991 29.2339);
  --color-accent: oklch(58.8% 0.158 241.966);
  --color-accent-2: oklch(43.7% 0.078 188.216);
  --color-quote: oklch(0.5385 0.220991 29.2339);
}

/* TODO: Add other color schemes that the user can select for UX Enhancement */
@layer base {
  html {
    color-scheme: light dark;
    accent-color: var(--color-accent);
    scrollbar-gutter: stable;

    &[data-theme="light"] {
      color-scheme: light;
    }
  }

  :target {
    scroll-margin-block: 5ex;
  }

  @view-transition {
    navigation: auto;
  }

  /* Astro image responsive style, modified from -> https: //docs.astro.build/en/guides/images/#responsive-image-styles */
  :where([data-astro-image]) {
    object-fit: var(--fit);
    object-position: var(--pos);
  }
  [data-astro-image="full-width"] {
    width: 100%;
  }
  [data-astro-image="constrained"] {
    max-width: 100%;
  }
}

@layer components {
  @import "./components/admonition.css";
  @import "./components/github-card.css";

  .weisgarden-link {
    @apply hover:decoration-link underline underline-offset-2 hover:decoration-2;
  }

  .title {
    @apply text-accent-2 text-2xl font-semibold;
  }
}

@utility prose {
  --tw-prose-body: var(--color-global-text);
  --tw-prose-bold: var(--color-global-text);
  --tw-prose-bullets: var(--color-global-text);
  --tw-prose-code: var(--color-global-text);
  --tw-prose-headings: var(--color-accent-2);
  --tw-prose-hr: 0.5px dashed #666;
  --tw-prose-links: var(--color-global-text);
  --tw-prose-quotes: var(--color-quote);
  --tw-prose-th-borders: #666;
}