---
import BaseLayout from "../layouts/BaseLayout.astro";

const meta = {
  description: "There's been a glitch in the matrix... this page is lost for eternity...",
  title: "Glitch in the Matrix",
};
---

<BaseLayout meta={meta}>
  <h1 class="title mb-12">404 | RED ALERT! RED ALERT! ABORT ABORT! SOMETHING WENT WRONG!!! AHHHH!!!</h1>
  <p class="mb-8">Kindly do use the navigation to go on and get yourself on out of here... or just stay here... and do nothing....</p>
</BaseLayout>