---
import BaseLayout from "../layouts/BaseLayout.astro";

const meta = {
  description: "Learn more about Andrew and where you can find his work.",
  title: "About",
}
---

<BaseLayout meta={meta}>
  <h1>About Andrew!</h1>
</BaseLayout>