---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>Digital Garden Posts</h1>
  <p>This is where you'll find my digital garden posts</p>
  <ul>
    <li><a href="/posts/welcome-to-andrews-digital-garden">Welcome to Andrew's Digital Garden!</a>
  </ul>
</BaseLayout>