---
import { type CollectionEntry, getCollection } from 'astro:content';
import SocialList from '../components/ui/SocialList.astro';
import PostPreview from '../components/blog/PostPreview.astro';
import NotePreview from '../components/note/NotePreview.astro';
import { getAllPosts } from '../utils/post';
import BaseLayout from '../layouts/BaseLayout.astro';
import { collectionDateSort } from '../utils/date';

// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
	.sort(collectionDateSort)
	.slice(0, MAX_POSTS) as CollectionEntry<'post'>[];

	// Pinned Posts, set to max of 3
const MAX_PINNED_POSTS = 3;
const pinnedPosts = allPostsByDate.filter((p) => p.data.pinned).slice(0, MAX_PINNED_POSTS);

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection('note');
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout meta={{ title: "Home" }}>
	<section class="mx-auto mt-6 flex flex-col px-4 py-6">
		<div class="max-w-4xl text-left">
			<h1 class="text-3xl font-bold mb-4">Meditate. Focus. Create.</h1>
			<p class="text-md">
				This digital garden is a space for sharing how I synergize critical
				thinking, problem solving, and focused creativity into ideas, words, and
				solutions. Everything starts with a seed of an idea, and grows into a
				tree of knowledge. This is my digital garden, where I cultivate my
				thoughts, ideas, and projects.
			</p>
			<SocialList />
		</div>
	</section>

	<!-- Blog Posts -->
	<section class="mt-16">
		{
			pinnedPosts.length > 0 && (
				<div class="max-w-4xl text-left mb-6">
					<h2 class="title text-xl mb-4">Featured Posts</h2>
					<ul class="space-y-4" role="list">
						{pinnedPosts.map((p) => (
							<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
								<PostPreview post={p} />
							</li>
						))}
					</ul>
				</div>
			)
		}
	</section>

	<section class="mt-16">
		<h2 class="text-accent title text-xl mb-6">Recent Posts</h2>
		<ul class="space-y-4" role="list">
			{allPostsByDate.map((p) => (
				<li class="grid gap-1 sm:grid-cols-[auto_1fr]">
					<PostPreview post={p} />
				</li>
			))}
		</ul>
	</section>
	{
		latestNotes.length > 0 && (
			<section class="mt-16">
				<h2 class="title text-xl text-accent mb-6">
					<a href="/notes/">Notes</a>
				</h2>
				<ul class="space-y-6" role="list">
					{latestNotes.map((note) => (
						<li>
							<NotePreview note={note} />
						</li>
					))}
				</ul>
			</section>
		)
	}
</BaseLayout>
