---
import BaseLayout from '../layouts/BaseLayout.astro';

const meta = {
	description: 'This is where Andrew will showcase his projects.',
	title: 'Projects',
};
---

<BaseLayout meta={meta}>
	<h1>Projects Page coming soon</h1>
</BaseLayout>
