---
import BaseLayout from '../layouts/BaseLayout.astro';

const meta = {
	description: 'Learn more about Andrew and where you can find his work.',
	title: 'Support',
};
---

<BaseLayout meta={meta}>
	<h1>Support!</h1>
</BaseLayout>
