---
import BaseLayout from '../layouts/BaseLayout.astro';

const meta = {
	description: 'Learn more about Andrew and where you can find his work.',
	title: 'Support',
};
---

<BaseLayout meta={meta}>
<section class="mt-12">
	<h1 class="text-2xl font-bold t">Support Andrew</h1>
	<p class="mt-4">You can help support Andrew in various ways that are listed below. Sign up for a subscription on one of the newsletters or creator platforms or donate via CashApp, Venmo, or PayPal. Thank you for your support - I couldn't do it without y'all!</p>
</section>
	
</BaseLayout>
