---
import '../styles/global.css';
import Navbar from "../components/ui/Navbar.astro";
import BaseHead from "../components/ui/BaseHead.astro";
---

<!doctype html>
<html lang="en">
	<BaseHead />
	<Navbar />
	<body class="max-w-4xl mx-auto bg-white">
			<slot />
	</body>
</html>


