---
import { type CollectionEntry, render } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

interface Props {
  journal: CollectionEntry<'journal'>;
}

const { journal }: Props = Astro.props;
const { title, description, publishDate } = journal.data;
const socialImage = `/public/logo.svg`;
const journalDate = publishDate.toISOString();
const { headings, remarkPluginFrontmatter } = await render(journal);
---

<BaseLayout
  meta={{
    articleDate: journalDate,
    description,
    ogImage: socialImage,
    title,
  }}
>
<article class="grow break-words" data-pagefind-body>
  <div id="journal-hero" class="mb-12">
    <h1 class="title">{title}</h1>
    <p class="text-base text-muted-foreground">Published on {publishDate.toDateString()}</p>
  </div>
  <div class="flex flex-col gap-10 lg:flex-row lg:items-start">
    {!!headings.length && (
      <nav class="prose prose-sm sticky top-20 hidden w-64 shrink-0 lg:block">
        <h2>On this page</h2>
        <ul>
          {headings.map((heading) => (
            <li class={`ms-${(heading.depth - 2) * 4}`}>
              <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
          ))}
        </ul>
      </nav>
    )}
    <div
      class="prose prose-sm prose-headings:font-semibold prose-headings:text-accent-2 prose-headings:before:absolute prose-headings:before:-ms-4 prose-headings:before:text-gray-600 prose-headings:hover:before:text-accent sm:prose-headings:before:content-['#'] sm:prose-th:before:content-none"
    >
      <slot />
    </div>
  </div>
</article>
</BaseLayout>