---
import { type CollectionEntry, getCollection } from 'astro:content';
import { getEntries } from 'astro:content';
---

<div class="flex flex-col p-4">
	<div x-data="{ open: true }">
		<div
			@click="open = !open"
			class="flex items-center justify-between bg-gray-200 border p-4"
		>
			<p class="text-xl">Container 1</p>
			<span :class="open ? 'fa-chevron-down' : 'fa-chevron-up'" class="fas"
			></span>
		</div>
		<div x-show.transition.in.duration.800ms="open" class="border p-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius
			vel magna lacinia mollis. Class aptent taciti sociosqu ad litora torquent
			per conubia nostra, per inceptos himenaeos. Quisque ligula neque,
			imperdiet nec est laoreet, pulvinar commodo odio. Vivamus eget eleifend
			libero. Fusce dolor nibh, porta eu gravida ut, maximus non erat.
		</div>
	</div>
	<div x-data="{ open: false }">
		<div
			@click="open = !open"
			class="flex items-center justify-between bg-gray-200 border p-4"
		>
			<p>Container 2</p>
			<span :class="open ? 'fa-chevron-down' : 'fa-chevron-up'" class="fas"
			></span>
		</div>
		<div x-show.transition.in.duration.800ms="open" class="border p-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius
			vel magna lacinia mollis. Class aptent taciti sociosqu ad litora torquent
			per conubia nostra, per inceptos himenaeos. Quisque ligula neque,
			imperdiet nec est laoreet, pulvinar commodo odio. Vivamus eget eleifend
			libero. Fusce dolor nibh, porta eu gravida ut, maximus non erat.
		</div>
	</div>
	<div x-data="{ open: false }">
		<div
			@click="open = !open"
			class="flex items-center justify-between bg-gray-200 border p-4"
		>
			<p>Container 3</p>
			<span :class="open ? 'fa-chevron-down' : 'fa-chevron-up'" class="fas"
			></span>
		</div>
		<div x-show.transition.in.duration.800ms="open" class="border p-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam varius
			vel magna lacinia mollis. Class aptent taciti sociosqu ad litora torquent
			per conubia nostra, per inceptos himenaeos. Quisque ligula neque,
			imperdiet nec est laoreet, pulvinar commodo odio. Vivamus eget eleifend
			libero. Fusce dolor nibh, porta eu gravida ut, maximus non erat.
		</div>
	</div>
	<a
		href="https://davidgrzyb.com/accordion-with-alpine-js-tailwind"
		class="mt-12 underline">How to Build an Alpine js Accordion</a
	>
</div>
