---
const year = new Date().getFullYear();
---

<footer class="mt-20">
  <p>Built with 💖 by <a href="https://github.com/geauxweisbeck4">Andrew Weisbeck</a>, creator and owner of WeisMind&copy; {year} - All rights reserved</p>
</footer>